{{input placeholder="First Name" class="first-name" value=firstProp}}<br>
{{input placeholder="Last Name" class="last-name" value=lastProp}}<br>

<label class="full-name">{{fullProp}}</label><br>
<button class="clear-btn">Clear</button>